
/ %event#hues.signal-design
/   %button.btn.btn-xs.btn-info.toggle
/     =glyph "collapse-up"
/   .vert
/     %button#apply-signal.design-title.btn-primary.trigger{:type => "trigger"}
/       %span SWATCHES
      
/     %span.command 500ms
/     %input.sexy{:type=>"range", :min => 0, :max => 1000, :step => 100, :value=> 1000}
/   .track-full{:data =>{:accept=> 100, :semantic => "enabled", :timescale => 10000, :tracks => 1, :exportable => "enabled"}}
%event.actutation-design
  %button.btn.btn-xs.btn-info.toggle
    =glyph "collapse-up"
  .vert
    %button#apply-signal.design-title.btn-primary.trigger{:type => "trigger"}
      %span THEATRE MODE
    / %span.command 500ms
    / %input.sexy{:type=>"range", :min => 0, :max => 1000, :step => 100, :value=> 1000}
  / .track-full{:data =>{:accept=> 100, :semantic => "enabled", :timescale => 10000, :tracks => 1, :exportable => "enabled"}}

  %button.theatre-mode.btn.btn-sm.btn-default{:name => 3} ON/OFF    
  %button.theatre-mode.btn.btn-sm.btn-default{:name => 0} TAP TO SEND
  %button.theatre-mode.btn.btn-sm.btn-default{:name => 2} HOLD TO PLAY   
  %button.theatre-mode.btn.btn-sm.btn-default{:name => 1} PLAY/PAUSE 

%event#library.signal-design
  / %button.btn.btn-xs.btn-info.toggle
  /   =glyph "collapse-up"
  .vert
    %button.design-title.btn-primary.trigger{:type => "trigger"}
      %span SIGNALS
      / %span.command [CTRL + S]


  .track-full.droppable.sortable{:data =>{:accept=> 100, :semantic => "enabled", :timescale => 10000, :tracks => 1, :exportable => "enabled"}}
    %datasignal.default{:data => {:signal => "[0,1,0,1,0,1,0,1,0,1,0,1,0]", "period" => 1000}}
      %canvas
    %datasignal.default{:data => {:signal => "[0,0.0013149243918474686,0.0052596975673898745,0.01183431952662722,0.021038790269559498,0.03287310979618671,0.04733727810650888,0.06443129520052597,0.08415516107823799,0.10650887573964499,0.13149243918474685,0.15910585141354372,0.18934911242603553,0.2222222222222222,0.2577251808021039,0.2958579881656805,0.33662064431295197,0.3800131492439185,0.42603550295857995,0.4746877054569362,0.5253122945430637,0.5739644970414202,0.6199868507560815,0.663379355687048,0.7041420118343196,0.7422748191978963,0.7777777777777779,0.8106508875739644,0.8408941485864561,0.868507560815253,0.8934911242603552,0.9158448389217622,0.9355687047994741,0.9526627218934909,0.9671268902038133,0.9789612097304408,0.9881656804733727,0.99474030243261,0.9986850756081522,1,1,0.9986850756081522,0.99474030243261,0.9881656804733727,0.9789612097304408,0.9671268902038133,0.9526627218934909,0.9355687047994741,0.9158448389217622,0.8934911242603552,0.868507560815253,0.8408941485864561,0.8106508875739644,0.7777777777777779,0.7422748191978963,0.7041420118343196,0.663379355687048,0.6199868507560815,0.5739644970414202,0.5253122945430637,0.4746877054569362,0.42603550295857995,0.3800131492439185,0.33662064431295197,0.2958579881656805,0.2577251808021039,0.2222222222222222,0.18934911242603553,0.15910585141354372,0.13149243918474685,0.10650887573964499,0.08415516107823799,0.06443129520052597,0.04733727810650888,0.03287310979618671,0.021038790269559498,0.01183431952662722,0.0052596975673898745,0.0013149243918474686,0]", "period" => 1000}}
      %canvas
    %datasignal.default{:data => {:signal => "[0,0.0013149243918474686,0.0052596975673898745,0.01183431952662722,0.021038790269559498,0.03287310979618671,0.04733727810650888,0.06443129520052597,0.08415516107823799,0.10650887573964499,0.13149243918474685,0.15910585141354372,0.18934911242603553,0.2222222222222222,0.2577251808021039,0.2958579881656805,0.33662064431295197,0.3800131492439185,0.42603550295857995,0.4746877054569362,0.5253122945430637,0.5739644970414202,0.6199868507560815,0.663379355687048,0.7041420118343196,0.7422748191978963,0.7777777777777779,0.8106508875739644,0.8408941485864561,0.868507560815253,0.8934911242603552,0.9158448389217622,0.9355687047994741,0.9526627218934909,0.9671268902038133,0.9789612097304408,0.9881656804733727,0.99474030243261,0.9986850756081522,1,1,0.9986850756081522,0.99474030243261,0.9881656804733727,0.9789612097304408,0.9671268902038133,0.9526627218934909,0.9355687047994741,0.9158448389217622,0.8934911242603552,0.868507560815253,0.8408941485864561,0.8106508875739644,0.7777777777777779,0.7422748191978963,0.7041420118343196,0.663379355687048,0.6199868507560815,0.5739644970414202,0.5253122945430637,0.4746877054569362,0.42603550295857995,0.3800131492439185,0.33662064431295197,0.2958579881656805,0.2577251808021039,0.2222222222222222,0.18934911242603553,0.15910585141354372,0.13149243918474685,0.10650887573964499,0.08415516107823799,0.06443129520052597,0.04733727810650888,0.03287310979618671,0.021038790269559498,0.01183431952662722,0.0052596975673898745,0.0013149243918474686,0, 0,0.0013149243918474686,0.0052596975673898745,0.01183431952662722,0.021038790269559498,0.03287310979618671,0.04733727810650888,0.06443129520052597,0.08415516107823799,0.10650887573964499,0.13149243918474685,0.15910585141354372,0.18934911242603553,0.2222222222222222,0.2577251808021039,0.2958579881656805,0.33662064431295197,0.3800131492439185,0.42603550295857995,0.4746877054569362,0.5253122945430637,0.5739644970414202,0.6199868507560815,0.663379355687048,0.7041420118343196,0.7422748191978963,0.7777777777777779,0.8106508875739644,0.8408941485864561,0.868507560815253,0.8934911242603552,0.9158448389217622,0.9355687047994741,0.9526627218934909,0.9671268902038133,0.9789612097304408,0.9881656804733727,0.99474030243261,0.9986850756081522,1,1,0.9986850756081522,0.99474030243261,0.9881656804733727,0.9789612097304408,0.9671268902038133,0.9526627218934909,0.9355687047994741,0.9158448389217622,0.8934911242603552,0.868507560815253,0.8408941485864561,0.8106508875739644,0.7777777777777779,0.7422748191978963,0.7041420118343196,0.663379355687048,0.6199868507560815,0.5739644970414202,0.5253122945430637,0.4746877054569362,0.42603550295857995,0.3800131492439185,0.33662064431295197,0.2958579881656805,0.2577251808021039,0.2222222222222222,0.18934911242603553,0.15910585141354372,0.13149243918474685,0.10650887573964499,0.08415516107823799,0.06443129520052597,0.04733727810650888,0.03287310979618671,0.021038790269559498,0.01183431952662722,0.0052596975673898745,0.0013149243918474686,0]", "period" => 1000}}
      %canvas

    %button.btn.btn-xs.btn-primary.view-toggle
      =glyph "eye-open"
%event#timecut.signal-design
  %button.btn.btn-xs.btn-info.toggle
    =glyph "collapse-up"
  .vert
    %button#ts-cutter.vert-centered.design-title.btn-primary.trigger{:type => "trigger"}
      %span CUT
      %span.command [CTRL + X]
  .track-full.droppable{:data =>{:accept=> 1, :draggable => "enabled", :semantic => "enabled", :timescale => 10000, :tracks => 1, :exportable => "disabled", :gamma_corrective => 0.5}}
    %button.btn.btn-xs.btn-danger.trash
      =glyph "trash"
    %button.btn.btn-xs.btn-primary.view-toggle
      =glyph "eye-open"
%event#reflect.signal-design
  %button.btn.btn-xs.btn-info.toggle
    =glyph "collapse-up"
  .vert
    %button#ts-reflector.vert-centered.design-title.btn-primary.trigger{:type => "trigger"}
      %span REFLECT
      %span.command [CTRL + R]
  .track-full.droppable{:data =>{:accept=> 100, :semantic => "enabled", :timescale => 10000, :tracks => 1, :gamma_corrective => 0.5, :exportable=> "enabled"}}
    %button.btn.btn-xs.btn-danger.trash
      =glyph "trash"
    %button.btn.btn-xs.btn-primary.view-toggle
      =glyph "eye-open"


%event#adder.signal-design
  %button.btn.btn-xs.btn-info.toggle
    =glyph "collapse-up"
  .vert
    %button#ts-adder.vert-centered.design-title.btn-primary.trigger{:type => "trigger"}
      %span WELD
      %span.command [CTRL + W]
  #add-result.track-unit{:data =>{:accept=> 0, :semantic => "enabled", :timescale => 10000, :tracks => 1, :exportable => "enabled"}}
    %datasignal#result
      %canvas
  #adder-track.track-full.droppable.sortable{:data =>{:accept=> 100, :semantic => "enabled", :timescale => 10000, :tracks => 1, :gamma_corrective => 0.5, :exportable=> "enabled"}}
    %button.btn.btn-xs.btn-danger.trash
      =glyph "trash"
    %button.btn.btn-xs.btn-primary.view-toggle
      =glyph "eye-open"




